<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script id="css">
    document.write('<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> <link rel="stylesheet" href="/stylesheets/bootflat.min.css"> <link rel="stylesheet" href="/stylesheets/isucon-bank.css">');
    script = document.getElementById('css');
    script.parentNode.removeChild(script);
    </script>
    <title>isucon4</title>
  </head>
  <body>
    <div class="container">
      <h1 id="topbar">
        <a href="/">
          <script id="img">
          document.write('<img src="/images/isucon-bank.png" alt="いすこん銀行 オンラインバンキングサービス">');
          script = document.getElementById('img');
          script.parentNode.removeChild(script);
          </script>
        </a>
      </h1>
      {{ yield }}
    </div>

  </body>
</html>
